@font-face {
    font-family: "Nexa";
    src: url("nexa/Nexa-Bold.otf");
    src: url("nexa/Nexa-Bold.otf") format("opentype"),
    }


    @media screen and (max-height:768px){
        body{
            height: 120% !important;
        }
    }
body{
    font-family: Nexa;
    background: linear-gradient(211deg, rgba(125,194,236,1) 0%, rgb(132, 132, 132) 120%);
    height: 100vh;
    
}
body img{
    width: 100%;
}
#tabu{
    font-size: 1.7rem;
    font-weight: 400;

}
.w3-border-red, .w3-hover-border-red:hover {
    border-color: #A92729 !important;
    color: #A92729 !important;
    }
    a{
       color: #002666;
       font-size: 1.5rem;
    }

    #confirm{
        background:transparent;
        border-radius: 2rem;
        border: 1px solid #fafafa;
        width: 25rem;
        height: 3rem;
        text-align: center;
        font-size:2rem;
        color: #A92729;
        padding: 5px;
        text-transform: capitalize;
    }
    #confirm:hover{
        border-color: #002666;
    }
    input::placeholder{
        padding: 5px;
        font-size: 1.5rem;
        color: #cecece96;
    }

    button{
        width: 15rem;
        background: transparent;
        height: 3rem;
        margin: 1rem;
    }
    #accept{
        border:3px solid #001C57;
        color: #001C57;
        border-radius: 2rem;
    }
    #clear{
        border:3px solid #A92729;
        color: #A92729;
        border-radius: 2rem;
    }
    #clear:hover{
        border:3px solid #cc2d30;
        color: #cc2d30;
    }
    #accept:hover{
        border:3px solid #004b69;
        color: #004b69;
    }
    h2{
    color: #3d3d3d;
}

/*--thank you pop starts here--*/
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/

#agregar{
    display: none;
}