body{
    
    background: linear-gradient(211deg, rgba(125,194,236,1) 0%, rgba(192,204,168,1) 100%);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}
#tabu{
    font-size: 1.7rem;
    font-weight: 400;

}